<table border="0" cellspacing="5" cellpadding="5">
	<tr><th><h1>List of Locations</h1></th>
		<th><%= link_to "New Location", :controller => "locations", :action => "new" %></th>
	</tr>
</table>

<% if flash[:notice] %>
	<div id="notice"><%= flash[:notice] %></div>
<% end %>


<%
if @locations.count == 0 
%>
<div class='usermessage'>You do not have any locations Created yet!</div>
<%
else
%>
<Table cellpadding=5 cellspacing=0 style='margin: 0px 20px 20px 20px;'>
	<TR class='underlinedRow headingRow'>
	<TD><B>No.</B></TD>
	<TD width='200'><B>Location</B></TD>
	<TD><B>State</B></TD>
	<TD></TD>
	</TR>
	<% 
	pno = 0
	@locations.each do |loc| 
	pno = pno + 1
	%>
	<TR class='underlinedRow'>
	<TD><%= pno %> </TD>
	<TD><%= loc.name %></TD>
	<TD><%= loc.state %></TD>
	<TD></TD>
	</TR>
	<% end %>
</Table>

<% end %>
